@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'BoxLines';
  src: url('/fonts/BoxLines.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-oil-black: #0C0C0C;
  --color-off-white: #E5E7EB;
  --color-yellow-white: #FEFFA7;
  --color-neon-green: #B6FFA1;
  --color-investigative-red: #ff3333;
  
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "DM Sans", ui-monospace, SFMono-Regular, monospace;
  --font-boxlines: "BoxLines", sans-serif;
}

body {
  background-color: var(--color-oil-black);
  color: var(--color-off-white);
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.scanline {
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.2;
  position: absolute;
  bottom: 100%;
  animation: scanline 8s linear infinite;
  pointer-events: none;
  z-index: 10;
}

@keyframes scanline {
  0% {
      bottom: 100%;
  }
  100% {
      bottom: -100px;
  }
}

.glitch-hover:hover {
  text-shadow: 2px 0 #FFFFFF, -2px 0 #555555;
  animation: glitch 0.3s cubic-bezier(.25, .46, .45, .94) both infinite;
}

@keyframes glitch {
  0% { transform: translate(0) }
  20% { transform: translate(-2px, 2px) }
  40% { transform: translate(-2px, -2px) }
  60% { transform: translate(2px, 2px) }
  80% { transform: translate(2px, -2px) }
  100% { transform: translate(0) }
}

.glass-panel {
  background: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(240, 240, 240, 0.15);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: var(--color-neon-green);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  margin-top: -7px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: rgba(240, 240, 240, 0.2);
  border: none;
}

input[type=range].cursor-ns-resize {
  -webkit-appearance: slider-vertical !important;
  writing-mode: bt-lr;
  width: 16px;
  height: 154px;
  padding: 0;
  margin: 0;
}

input[type=range].cursor-ns-resize::-webkit-slider-thumb {
  margin-top: 0 !important; /* Center the thumb vertically */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
